h2{
    font-family:Helvetica;
    font-size: 32pt;
    font-style: regular;

}
body {font-family: 'Alata', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navsidebar{
    font-family:Helvetica;
    font-size:24pt;
    font-style: medium; 
}

.grid-1{
    display:grid;
    margin-left:70px;
    margin-right:70px;
    margin-left: 67px;
    margin-right: 72px;
    grid-template-columns: 86px,190px, 158px, 192px,186px, 205px, 225px, 398px;
    grid-template-rows: 164px, 139px, 147px, 311px, 138px, 30px, 214px;
    grid-template-areas:
    ". . . . . . . "
     ". . . . title title . . "
     ". . pic1 pic1 pic1. . ."
     ". nav pic1 pic1 pic1 . . pic2"
     ". . . . . . . pic2 "
     "pic3 pic3 pic3 . . . . pic2"
     "pic3 pic3 pic3 . . . . ."
       
}

#pic1{
    grid-column-start: 3;
    grid-row-start:3;
}

#pic2 {
    grid-column-start:7;
    grid-row-start:3;
}

#pic3{
    grid-colun-start:1;
    grid-row-start: 5;
}

#title{
    grid-row-start:2;
    grid-column-start:5
    
}
#nav{
    grid-column-start:2;
    grid-row-start:4;
}
body:after {
    content:"";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 2px dotted #444;
}

.scroll {
    text-align: center;
}

body{
    background-color: #F8F1E1;
}

.dot{
height: 147px;
  width: 147px;
  background-color:white;
  border-radius: 50%;
  display: inline-block;
  position: center;

}

.dot{
    height: 147px;
      width: 147px;
      background-color:#F4A926;
      border-radius: 50%;
      display: inline-block;
      position: center;
    


