h2{
    font-family:Helvetica;
    font-size: 32pt;
    font-style: regular;

}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navsidebar{
    font-family:Helvetica;
    font-size:24pt;
    font-style: medium; 
}

.grid-1{
    display:grid;
    margin-left:70px;
    margin-right:70px;
    margin-left: 67px;
    margin-right: 67px;
    grid-template-columns: 53px, 94px, 72px, 100px, 102px, 109px, 106px, 201px;
    grid-template-rows: 167px, 79px, 156px, 68px, 20px, 105px;
    grid-template-areas:
     ". . . . title title. ."
     ". . pic1 pic1 pic1. . ."
     ". nav pic1 pic1 pic1 . . pic2"
     ". . . . . . . pic2 "
     "pic3 pic3 pic3 . . . . pic2"
     "pic3 pic3 pic3 . . . . ."
       
}

#pic1{
    grid-column-start: 3;
    grid-row-start:2;
}

#pic2 {
    grid-column-start:7;
    grid-row-start:3;
}

#pic3{
    grid-colun-start:1;
    grid-row-start: 5;
}

#title{
    grid-column-start:5;
    
}
#nav{
    grid-column-start:2;
    grid-row-start:3;
}



